<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Astra Bank Portal</title>
  </head>
  <body style="background-image: linear-gradient(to right, #8360c3, #2ebf91);">
    <main>
        <center><h1 style="font-family: Helvetica, sans-serif; font-size: 50px; color: whitesmoke;">Welcome to Astra Bank! </h1>
        <h2 style="font-family: Helvetica, sans-serif; color:floralwhite">Please select one of the following options</h2>
        <ol style="list-style: none;">
        	<li><button style="background: none; border-color: white; margin-top: 15px; padding: 10px;"><a style="color: white; font-family: Helvetica, sans-serif; font-size: 20px; " href="/newaccount">Create a new account</a></button></li>
        	<li><button style="background: none; border-color: white; margin-top: 15px; padding: 10px;"><a style="color: white; font-family: Helvetica, sans-serif; font-size: 20px;" href="/chkbalance">Check Balance</a></button></li>
        	<li><button style="background: none; border-color: white; margin-top: 15px; padding: 10px;"><a style="color: white; font-family: Helvetica, sans-serif; font-size: 20px;" href="/withdraw">Withdraw Ammount</a></button></li>
        	<li><button style="background: none; border-color: white; margin-top: 15px; padding: 10px;"><a style="color: white; font-family: Helvetica, sans-serif; font-size: 20px;" href="/deposit">Deposit money</a></button></li>
        </ol></center>  
    </main>
  </body>
</html>