<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create a new account</title>
  </head>
  <body style="background-image: linear-gradient(to right, #8360c3, #2ebf91);">
  <h1>Depositing Money </h1>
  <form action="#" th:action="@{/deposited}" th:object="${deposit}" method="POST">
  
		<p>To Account: <input type="text" th:field="*{account_no}" /></p>
		<p>Amount: <input  type="text" th:field="*{amount}" /></p>
		<p><input type="submit" value="Submit" /></p>
</form>
  </body>
</html>